table{
    margin-left: 120px;
}
th{     
    color: antiquewhite;
    text-transform:uppercase;
    background-color: midnightblue;
}
table,td,th,tr{
    border-collapse: collapse;
    padding: 10px 15px;
    border: 1px solid gray;
}

@media only screen and (max-width:768px) {

    table {
        margin: auto !important;
    }
}
